{% extends 'base.html.twig' %}

{% block title %}New Staffs{% endblock %}

{% block body %}
    <h1>Create new Staffs</h1>

    {{ include('staffs/_form.html.twig') }}

    <a href="{{ path('staffs_index') }}">back to list</a>
{% endblock %}
